<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular-virtual-keyboard by the-darc</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>

    <!-- angular-virtual-keyboard dependencies -->
    <!-- Required -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="javascripts/angular-virtual-keyboard.min.js"></script>
    <link href="stylesheets/angular-virtual-keyboard.css" rel="stylesheet">
    <!-- Optional -->
    <script src="javascripts/angular-useragent-parser.min.js"></script>
    <!-- - - - - - - - - - - - - - - - - - - - -->

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- angular-virtual-keyboard configuration -->
    <script>
      angular.module('exampleApp', ['angular-useragent-parser', 'angular-virtual-keyboard'])
      .config(['VKI_CONFIG', function(VKI_CONFIG) {
        VKI_CONFIG.layout['Portugu\u00eas Brasileiro'] = {
          'name': "Portuguese (Brazil)", 'keys': [
          [["'", '"'], ["1", "!", "\u00b9"], ["2", "@", "\u00b2"], ["3", "#", "\u00b3"], ["4", "$", "\u00a3"], ["5", "%", "\u00a2"], ["6", "\u00a8", "\u00ac"], ["7", "&"], ["8", "*"], ["9", "("], ["0", ")"], ["-", "_"], ["=", "+", "\u00a7"], ["Bksp", "Bksp"]],
          [["Tab", "Tab"], ["q", "Q", "/"], ["w", "W", "?"], ["e", "E", "\u20ac"], ["r", "R"], ["t", "T"], ["y", "Y"], ["u", "U"], ["i", "I"], ["o", "O"], ["p", "P"], ["\u00b4", "`"], ["[", "{", "\u00aa"], ["Enter", "Enter"]],
          [["Caps", "Caps"], ["a", "A"], ["s", "S"], ["d", "D"], ["f", "F"], ["g", "G"], ["h", "H"], ["j", "J"], ["k", "K"], ["l", "L"], ["\u00e7", "\u00c7"], ["~", "^"], ["]", "}", "\u00ba"], ["/", "?"]],
          [["Shift", "Shift"], ["\\", "|"], ["z", "Z"], ["x", "X"], ["c", "C", "\u20a2"], ["v", "V"], ["b", "B"], ["n", "N"], ["m", "M"], [",", "<"], [".", ">"], [":", ":"], ["Shift", "Shift"]],
          [[" ", " ", " ", " "], ["AltGr", "AltGr"]]
        ], 'lang': ["pt-BR"] };

        VKI_CONFIG.layout['Numerico'] = {
          'name': "Numerico", 'keys': [
          [["1", '1'], ["2", "2"], ["3", "3"], ["Bksp", "Bksp"]],
          [["4", "4"], ["5", "5"], ["6", '6'], ["Enter", "Enter"]],
          [["7", "7"], ["8", "8"], ["9", "9"], []],
          [["0", "0"], ["-"], ["+"], [","]]
        ], 'lang': ["pt-BR-num"] };

        VKI_CONFIG.kt = 'Portugu\u00eas Brasileiro';

        /* CHANGE TEXT LANGUAGE */
        VKI_CONFIG.i18n = {
         '00': "Exibir teclado numérico",
         '01': "Exibir teclado virtual",
         '02': "Selecionar layout do teclado",
         '03': "Teclas mortas",
         '04': "Ligado",
         '05': "Desligado",
         '06': "Fechar teclado",
         '07': "Limpar",
         '08': "Limpar campo",
         '09': "Versão",
         '10': "Diminuir tamanho do teclado",
         '11': "Aumentar tamanho do teclado"
        };
      }]);
    </script>
    <!-- - - - - - - - - - - - - - - - - - - - -->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">angular-virtual-keyboard</h1>
        <p class="header">An AngularJs Virtual Keyboard Interface based on <a href="http://www.greywyvern.com/code/javascript/keyboard">GreyWyvern VKI</a></p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/the-darc/angular-virtual-keyboard/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/the-darc/angular-virtual-keyboard/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/the-darc/angular-virtual-keyboard">View On GitHub</a></li>
        </ul>

        <p class="header">This project is maintained by <a class="header name" href="https://github.com/the-darc">the-darc</a></p>
      </header>

<section>

<h1>
<a id="angular-virtual-keyboard" class="anchor" href="#angular-virtual-keyboard" aria-hidden="true"><span class="octicon octicon-link"></span></a>angular-virtual-keyboard</h1>

<p>An AngularJs Virtual Keyboard Interface based on <a href="http://www.greywyvern.com/code/javascript/keyboard">GreyWyvern VKI</a>.</p>

<h2>
<a id="bower-install" class="anchor" href="#bower-install" aria-hidden="true"><span class="octicon octicon-link"></span></a>Bower install</h2>

<div class="highlight highlight-sh"><pre>$ bower install angular-virtual-keyboard</pre></div>

<h2>
<a id="dependencies" class="anchor" href="#dependencies" aria-hidden="true"><span class="octicon octicon-link"></span></a>Dependencies</h2>

<ul>
<li>Optional: <a href="https://github.com/the-darc/angular-useragent-parser">angular-useragent-parser</a><br>
<em>Obs.: Required to auto-hide the keyboard interface in mobile devices or to use the 'vk-force-mobile' configuration.</em>
</li>
</ul>

<h2>
<a id="demo" class="anchor" href="#demo" aria-hidden="true"><span class="octicon octicon-link"></span></a>Demo</h2>
<div ng-app="exampleApp">
  <h3>Simple usage</h3>
  <div>
    <label>Input text: </label><input type='text' ng-model="t01" ng-virtual-keyboard/><br>
    <em>(Model value: {{t01}})</em>
  </div>

  <h3>Keyboard layout: US International</h3>
  <div>
    <label>Input text: </label><input type='text' ng-model="t02" ng-virtual-keyboard="{kt: 'US International', showKbSelect: true, numberPad: true, showVersion: true}"/><br>
    <em>(Model value: {{t02}})</em>
  </div>

  <h3>Numeric customized keyboard layout</h3>
  <div>
    <label>Input text: </label><input type='text' ng-model="t03" ng-virtual-keyboard="{kt: 'Numerico'}"/><br>
    <em>(Model value: {{t03}})</em>
  </div>

  <h3>Default size changed and button action</h3>
  <div>
    <label>Input text: </label><input type='text' ng-model="t03" ng-virtual-keyboard="{size: 5, imageURI: 'images/keyboard.png'}"/><br>
    <em>(Model value: {{t04}})</em>
  </div>

  <h3>Keyboard fixed at page bottom</h3>
  <div>
    <label>Input text: </label><input type='text' ng-model="t02" ng-virtual-keyboard="{kt: 'US International', numberPad: true, showVersion: true, relative: false}"/><br>
    <em>(Model value: {{t05}})</em>
  </div>
<div>

<h2>
<a id="license" class="anchor" href="#license" aria-hidden="true"><span class="octicon octicon-link"></span></a>License</h2>

<p>The MIT License (MIT)</p>

<p>Copyright (c) 2015 Daniel Campos</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</p>
      </section>
      <footer>
        <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  </body>
</html>
