<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Virtual Keyboard Demo</title>
	<link href="../css/angular-virtual-keyboard.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
	<script src="../src/vki.js"></script>
	<script src="../src/angular-virtual-keyboard.js"></script>
	<script src="../bower_components/ua-parser-js/dist/ua-parser.min.js"></script>
	<script>
		angular.module('exampleApp', ['angular-virtual-keyboard'])
		.controller('ExampleCtrl', ['$scope', function($scope){

		}]);
	</script>
</head>
<body ng-app="exampleApp">
	<center ng-controller="ExampleCtrl">

		<h1>Angular Virtual Keyboard</h1>

		<br><br><hr width="80%">
		<h2>Default configuration</h2>

		<h4>Keyboard binded by directive class: </h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t01" class="keyboardInput"/><br>
			<em>(Model value: {{t01}})</em>
		</div>

		<h4>Keyboard binded by directive attribute: </h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t02" ng-virtual-keyboard/><br>
			<em>(Model value: {{t02}})</em>
		</div>


		<br><br><hr width="80%">
		<h2>Custom configurations</h2>

		<h4>Keyboard layout: US International</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t03" ng-virtual-keyboard="{VKI_kt: 'US International'}"/><br>
			<em>(Model value: {{t03}})</em>
		</div>

		<h4>Show keyboard language selection</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t04" ng-virtual-keyboard="{VKI_showKbSelect: true}"/><br>
			<em>(Model value: {{t04}})</em>
		</div>

		<h4>Show deadKeys off by default</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t05" ng-virtual-keyboard="{VKI_deadkeysOn: false}"/><br>
			<em>(Model value: {{t05}})</em>
		</div>

		<h4>Enable number pad</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t006" ng-virtual-keyboard="{VKI_numberPad: true}"/><br>
			<em>(Model value: {{t006}})</em>
		</div>

		<h4>Show version number</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t007" ng-virtual-keyboard="{VKI_showVersion: true}"/><br>
			<em>(Model value: {{t007}})</em>
		</div>

		<h4>Use keyboard button action</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t008" ng-virtual-keyboard="{VKI_imageURI: 'keyboard.png'}"/><br>
			<em>(Model value: {{t008}})</em>
		</div>

		<h4>Keyboard default size: 5</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t009" ng-virtual-keyboard="{VKI_size: 5}"/><br>
			<em>(Model value: {{t009}})</em>
		</div>

		<h4>Forced to show in mobile devices</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t010" ng-virtual-keyboard vk-force-mobile/><br>
			<em>(Model value: {{t010}})</em>
		</div>
	</center>
</body>
</html>
